:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #14A44D;
    --danger: #DC4C64;
    --warning: #ffc107;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #332D2D;

}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
}

.imagemPrincipal {
    background-image: url(./imagens/praia-palmeiras-wallpaper.jpg); 
    background-position: center; 
}

#datasContainer {
    padding: 10px;
}

#simboloData {
    margin-left: 10px;
    margin-right: 5px;
}

input[type="date"] {
    border-radius: 3px;
    padding: 5px;
    border: none;
    font-family: monospace;
    color: rgb(128, 128, 128);
}

#datasContainer > input {
    width: 140px;
    margin: 0;
    width: fit-content;
}

.mx-auto {
    margin-top: -3rem!important;
}

.aviso {
    text-align: center;
    transition: 0.5s ease;
    background-color: var(--warning);
}

.aviso:hover {
    cursor: pointer;
    transform: scale(1.15);
    box-shadow: none;
    background-color: #0d6efd;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
}

.linksFooter {
    text-decoration: none;
    color: var(--dark);
}

.linksFooter:hover {
    text-decoration: underline;
    color: var(--primary);
}

.redeSocial {
    cursor: pointer;
}

.redeSocial:hover {
    color: var(--primary);
    transform: scale(1.15);
}

/* Página Destino */

#newsletter {
    background-image: url(./imagens/travel-bg.jpg);
}

mark {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    opacity: 0.9;
}

.btnPromocao:hover {
    color: var(--light);
    background-color: var(--primary);
}

.card-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}